@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

html {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
