.hero-pattern {
  padding: 48px;
}

.sign-out {
  text-align: right;
}

@media (max-width: 480px) {
  .sign-out {
    text-align: center;
  }

  .column {
    padding: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .roster-table {
    width: auto;
  }
}

.user-info {
  text-align: center;
  margin-top: 7vh;
}

.name {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
}

.email {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: -10px;
  color: gray;
}

.settings-btn {
  margin-right: 1.5vw;
}

.department-grade {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  margin-top: 0.2vh;
  font-weight: 400;
  color: rgb(158, 154, 154);
}

.actions-card {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  border: 4px solid black;
  border-radius: 10px;
  background-color: #fafbfb;
  padding: 30px;
}

.actions-title {
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 800;
  color: black;
}

.columns {
  margin: 0 auto;
}

.home-actions {
  margin-top: 5vh !important;
  width: fit-content;
}

.requests-columns {
  margin-top: 5vh !important;
}

.modal-title {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  color: black;
  padding: 2%;
}

.stats-title {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: teal;
  padding: 2%;
}

.modal-desc {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
  padding: 2%;
}

.box {
  text-align: center;
  border: 5px solid teal;
  border-radius: 10px;
}

.save-btn {
  margin-top: 5%;
}

.qr-code-container {
  margin: 5%;
}

.req-msg {
  font-family: "Inter", sans-serif;
  font-size: 1 rem;
  font-weight: 400;
  border: 2px solid black;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  padding: 5px;
  margin-top: 5%;
}

.req-msg:empty {
  border: none;
}

.attendance-tag {
  margin-top: 1.5%;
  cursor: pointer;
}

.qr-title {
  text-align: center;
}

.qr-wrapper {
  border-radius: 15px;
  text-align: center;
}

.blink {
  background-color: #d4f2a1;
}

.blink-red {
  background-color: #f2a1a1;
}

.qr-message {
  margin-top: 1vh;
  margin: 0 auto;
  text-align: center;
}

#qr-msg {
  color: #5b5aff;
  font-weight: 800;
}

.identify {
  color: #5b5aff;
  font-weight: 800;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-span::after {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #fafafa;
  border-bottom-color: rgb(98, 184, 184);
  border-radius: 50%;
  content: "";
  height: 20px;
  width: 20px;
  display: block;
  margin-left: 5px;
  will-change: transform;
}

.button svg {
  margin-right: 5px;
}

.checkbox input {
  margin-right: 10px;
}

.checkbox {
  font-family: "Inter", sans-serif;
}

.destructive {
  color: rgb(250, 85, 85);
}

.roster-table {
  margin: 0 auto;
}

.loading-wrapper {
  margin: 0 auto;
  margin-top: 20vh;
  text-align: center;
  width: fit-content;
}

.loading-wrapper-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
}

@media (max-width: 480px) {
  .requests-col {
    margin-top: 5vh;
  }
}

.table {
  background-color: rgba(255, 255, 255, 1);
}

.table-container {
  border: 4px solid rgb(71, 173, 173);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
}

#rosterTable_filter label {
  font-weight: 800;
}

td {
  padding: 1em !important;
}

table {
  font-family: "Inter", sans-serif;
}

.td-bold {
  font-weight: 800;
}

.td-italics {
  font-style: italic;
}

.td-underline {
  text-decoration: underline;
}

.table span {
  cursor: pointer;
}

.requests-table {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.no-requests {
  margin: 0 auto;
  text-align: center;
}

.request-title {
  font-weight: 800;
  font-size: 1.1rem;
}

.btn-grant {
  margin-right: 5px;
}

.btn-deny {
  margin-left: 5px;
}

.btn-decisions {
  text-align: right;
}

.student-desc {
  text-align: left;
}

.student-desc span {
  margin: 5px;
}

.bulk-col2 {
  text-align: right;
}

article {
  border: 2px dashed #485fc7;
  border-left: none;
}

/* @media for ipad */
@media (min-device-width: 481px) and (max-device-width: 1090px) {
  .mapped-cols {
    display: flex;
    flex-direction: column;
  }

  .bulk-cols {
    display: flex;
    flex-direction: column;
  }

  .bulk-col2 {
    text-align: center;
  }

  .bulk-col1 {
    text-align: center;
  }

  .btn-decisions {
    text-align: center;
  }

  .student-desc {
    text-align: center;
  }

  .hero-pattern {
    padding: 28px;
  }
}

@media (max-width: 480px) {
  .btn-decisions {
    margin-top: 15px;
  }

  .bulk-col2 {
    margin-top: 10px;
    text-align: center;
  }

  .bulk-col1 {
    text-align: center;
  }

  .btn-decisions {
    text-align: center;
  }

  .student-desc {
    text-align: center;
  }

  .hero-pattern {
    padding: 20px;
  }
}

.attendance-container {
  margin: 0 auto;
  margin-top: 5vh;
  text-align: center;
}

.sort-select {
  margin-bottom: 5vh;
}

.date-select-text {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 1.3rem;
  color: rgb(80, 106, 255);
  border: 2px dashed black;
  border-radius: 10px;
  padding: 5px;
}

.ats-h1 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1vh;
}

.cam-flip {
  margin: 1.1vh;
  margin-top: 2vh;
}

.dt-buttons button {
  margin: 10px;
}

.dt-buttons {
  display: block !important;
}
